<!doctype html>
<html lang="tr">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@picocss/pico@1/css/pico.min.css">
    
    <link rel="stylesheet" href="static/css/style.css">
    
    <title>Dijital Ayak İzi Analiz Aracı</title>
</head>
<body>
    <main class="container">
        
        <nav>
            <ul>
                <li><strong>👣 Dijital Ayak İzi Analiz Aracı</strong></li>
            </ul>
            <ul>
                <li><a href="login.html">Giriş Yap</a></li>
                <li><a href="register.html">Kayıt Ol</a></li>

                </ul>
        </nav>
        <hr>

        <div id="content">
            <p>Bu, sitenin ana şablon (layout) iskeletidir.</p>
        </div>

    </main>
</body>
</html>