{% extends "_layout.html" %}
{% block content %}
    <article style="text-align: center;">
        <hgroup>
            <h1>Dijital Ayak İzinizi Keşfedin</h1>
            <h2>Herkese açık sosyal medya profillerinizi analiz ederek gizlilik risklerinizi ortaya çıkarın.</h2>
        </hgroup>
        <p>Bu araç, Instagram ve X gibi platformlardaki verilerinizi tarar ve hassas bilgileri tespit ederek size bir risk puanı sunar.</p>
        <footer><a href="{{ url_for('main.register') }}" role="button" class="contrast">Hemen Ücretsiz Başla</a></footer>
    </article>
{% endblock %}
